@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*pra fonte BEBAS no fonte-destaque*/

@font-face {
    font-family: 'Android';
    src: url(/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    text-align: center;
    min-height: 100px;
    padding-top: 40px;
    font-family: var(--fonte-destaque);
}
header p{
    font-family: var(--fonte-padrao);
}

nav a{
    text-decoration: none;
    font-family: var(--fonte-padrao);
}

body main h1{
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor5);
}
main article p{
    font-family: var(--fonte-padrao);
}
body main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.2em;
    color: var(--cor4);
}
body main a{
    background-color: var(--cor2);
    text-decoration: none;
    color: var(--cor5);
    font-family: var(--fonte-padrao);
    font-weight: bold;
    padding: 2px 4px ;
}

article strong {
    color: var(--cor5);
}

div {
    background-color: var(--cor5);
}

aside {
    background-color: var(--cor2);
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}
aside ul{
    font-family: var(--fonte-padrao);
}
aside h3{
    color: white;
    background-color: var(--cor4);
    font-family: var(--fonte-padrao);
    padding: 5px;
    margin: -10px -10px 10px -10px ;
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: var(--cor5);
    text-align: center;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    padding: 4px;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
