@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh; /*vh = viewport heigh ou pode ser % tb*/
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps; /*ou text-transform: uppercase*/
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{ /*para fazermos efeito de rolagem/paralaxe */
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51,51,51);
    color: white;
}

section.imagem >p {
    background-color: rgba(0, 0, 0, 0.438);
    width: 400px;
    padding: 10px;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}